html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;

  thead {
    th {
      font-family: "Rock Salt", cursive;
      padding: 10px;
    }

    &:nth-child(1) {
      width: 30%;
    }

    &:nth-child(2) {
      width: 20%;
    }

    &:nth-child(3) {
      width: 15%;
    }

    &:nth-child(4) {
      width: 35%;
    }
  }

  tbody {
    tr {
      border: 1px solid #000;
    }

    td {
      text-align: center;
      padding: 10px;
    }
  }
}
